@model ProyectoFinal.Models.Productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CotegoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CotegoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidades.UnidadesNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidades.UnidadesNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
