@model IEnumerable<ProyectoFinal.Models.Productos>
@{
    ViewBag.Title = "Home Page";
}


@if (Model.Any())
{
    if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-info">@ViewBag.Mensaje</div>
    }

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categorías:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Todo
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Combo Bioseguridad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">General</a>
                </li>

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-3 m-padding p-2 sh">
                <div class="card col-12 m-padding">
                    <img src="@item.ProductoImagenes" class="card-img-top" alt="@item.ProductoTitulo">
                    <div class="card-body">
                        <p class="font-weight-bold black-text">@item.ProductoTitulo</p>
                        <p class="mb-1 text-center"><strong>L @item.ProductoPrecio</strong></p>
                        @using (Html.BeginForm("Create", "Carritoes", new { id = item.IdProducto }, FormMethod.Post, htmlAttributes: new { style = "display:inline-block;" }))
                        {
                            <button class="btn btn-black btn-rounded btn-sm px-3" type="submit">Añadir &nbsp; <i class="fas fa-plus"></i></button>
                        }
                        <a href="/Productos/Detalle/@item.IdProducto" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect"><strong>Detalle</strong> &nbsp; <i class="fas fa-info"></i></a>

                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <h1>No hay productos</h1>
}