@model IEnumerable<ProyectoFinal.Models.Productos>
@{
    ViewBag.Title = "Home Page";
}


@if (Model.Any())
{
    if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-info">@ViewBag.Mensaje</div>
    }

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-3 m-padding p-2 sh">
                <div class="card col-12 m-padding">
                    <img src="@item.ProductoImagenes" class="card-img-top" alt="@item.ProductoTitulo">
                    <div class="card-body">
                        <p class="font-weight-bold black-text">@item.ProductoTitulo</p>
                        <p class="mb-1 text-center"><strong>L @item.ProductoPrecio</strong></p>
                        @using (Html.BeginForm("Create", "Carritoes", new { id = item.IdProducto }, FormMethod.Post, htmlAttributes: new { style = "display:inline-block;" }))
                        {
                            <button class="btn btn-black btn-rounded btn-sm px-3" type="submit">Añadir &nbsp; <i class="fas fa-plus"></i></button>
                        }
                        <a href="/Productos/Detalle/@item.IdProducto" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect"><strong>Detalle</strong> &nbsp; <i class="fas fa-info"></i></a>

                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <h1>No hay productos</h1>
}