@model IEnumerable<ProyectoFinal.Models.Carrito>

@{
    ViewBag.Title = "Carrito";
}

<h2>Carrito</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.ProductoTitulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarritoCantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAgregado)
        </th>
        <th>
            Sub Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var cantidad = (Html.DisplayFor(modelItem => item.CarritoCantidad)).ToString();
    var precio = Html.DisplayFor(modelItem => item.Producto.ProductoPrecio).ToString();
    var total = (decimal.Parse(cantidad) * decimal.Parse(precio));
    <tr>
        <td>@Html.ActionLink("Borrar", "Edit", new { id = item.CarritoId })</td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.ProductoTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarritoCantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAgregado)
        </td>
        <td>@total.ToString()</td>
        <td>
            @Html.ActionLink("Quitar 1", "Edit", new { id = item.CarritoId }) &nbsp; &nbsp;
    @Html.ActionLink("Agregar 1", "Details", new { id = item.CarritoId })
</td>

</tr>
}

</table>
